doctype html
html
    head
        title Jade Page
    body
        h1  Router Level Middle ware assignment EmployeeAPI
        h4 <u> some Paths....
        h4 /emps
        h4 /emps/:id
        h4 /emps/:id/child/assignments
        h4 /emps/:id/child/assignments/:assignmentsId</u>
